<body>
	<div class="row text-center text-xs-center text-sm-left text-md-left">
		<div class="col-xs-12 col-sm-4 col-md-4">
			<div class="container">
			<br>
			<h5>Abouts</h5>
			<p >Meesho is the Webapplication where you can buy all the products that you can buy on famous website like amazon and flipkart </p>
	</div>
</div>
		<div class="col-xs-12 col-sm-4 col-md-4">
			<br>
			<h5>Address</h5>
			<p>3-7-182/65/4/A Manchikantinagar 2 </p>
			<p>Pumpingwell Road </p>
			<P>Khammmam</P>
			<p>pincode:507003</p>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4">
			<br>
			<h5>Contact Us</h5>
			<p>8096495676</p>
			<p><i class="far fa-envelope"></i> Email:meesho@gmail.com</p>
			</div>
			<div class="container text-center py-5">
				<div class="d-flex justify-content-center mb-3">
		<a class="btn btn-light btn-social mr-2" href="https://www.twitter.com"><i class="fab fa-twitter"></i></a> 
		<a class="btn btn-light btn-social mr-2" href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a> 
		<a class="btn btn-light btn-social mr-2" href="https://www.linkedin.com"><i class="fab fa-linkedin-in"></i></a> 
		<a class="btn btn-light btn-social" href="https://www.instagram.com"><i class="fab fa-instagram"></i></a> 
	   </div>
	   <p> &#169; <b>meesho </b>all rights are reserved.</p>
		<p> Designed by <b>Krishna Koushik</b></p>
	   </div>
	   <div>
	   </div>
	   </div>
</body>
