<main>
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img43.jpg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">Shirts</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">Casual</span>Rs.999<span class="float-end price-hp"></span> </div>
                        <h5 class="card-title">Casual shirts for men medium size</h5>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0">1123 Reviews <i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star- text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star-o text-warning"></i></li>
                        </ul>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Add To Carts</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img44.jpg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">T shirts</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">US Pole</span>Rs.399 <span class="float-end price-hp"></span> </div>
                        <h5 class="card-title">T shirts for men medium size half hands</h5>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0">2378 Reviews <i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                        </ul>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Add To Carts</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img45.jpg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">Casual Pants</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">Louies philipe</span> Rs.999<span class="float-end"><a href="#" class="small text-muted"></a></span> </div>
                        <h5 class="card-title">casual pants for men</h5>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0"> 5347 Reviews <i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star-o text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star-o text-warning"></i></li>
                        </ul>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Add To Carts</a> </div>
    
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img46.jpg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">Purses</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">Purses</span>Rs.299<span class="float-end"><a class="text-muted small" href="#"></a></span> </div>
                        <h5 class="card-title">Leather purses for men </h5>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0">2356Reviews <i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star-o text-warning"></i></li>
                        </ul>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Add To Carts</a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img47.jpg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">Watches</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">Watches</span>RS.2000 <span class="float-end price-hp"></span> </div>
                        <h5 class="card-title">Rollex watch for men fashion ware model</h5>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0">2234Reviews <i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                        </ul>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Add To Carts</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img48.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">Glasses</span> Rs.999<span class="float-end"><a href="#"></a></span> </div>
                        <div class="label-top shadow-sm">Glasses</div>
                        <h5 class="card-title">Cooling glasses for men saquare glasses </h5>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0">8787 Reviews <i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star-o text-warning"></i></li>
                        </ul>
                        <div class="d-grid gap-2 my-4"> <a href="#" class="btn btn-warning">Add To Carts</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img49.jpg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">Shoes</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">Formal Shoes</span> Rs.499<span class="float-end"><a href="#"></a></span> </div>
                        <h5 class="card-title"> Formal shoes for men for office ware and normal ware made of fabric </h5>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0">5674 Reviews <i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                        </ul>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Add To Carts</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img50.jpg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">Ton jeans</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">Ton Jeans</span> Rs.1999<span class="float-end"><a href="#"></a></span> </div>
                        <h5 class="card-title">Ton jeans for men with 4 pockets and cargo model </h5>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0">4563 Reviews <i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                        </ul>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Add To Carts</a></div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</main>




