<main>
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img11.jpg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">Adapter</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">Mi Adapter</span> Rs.999<span class="float-end price-hp"></span> </div>
                        <h5 class="card-title">Mi Adapter supports the 33 watt charging which is 3.0charging.</h5>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0">2232 Reviews <i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star-o text-warning"></i></li>
                        </ul>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Add To Carts</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img12.jpg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">Adapter</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">Mi Adapter and Cable</span>Rs.599 <span class="float-end price-hp"></span> </div>
                        <h5 class="card-title">Mi Adapter supports with 18 watt charging which is 3.0charging. </h5>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0">4323 Reviews <i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star-o text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star-o text-warning"></i></li>
                        </ul>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Add To Carts</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img13.jpg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">Type C</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">Type C</span>Rs.199 <span class="float-end"><a href="#" class="small text-muted"></a></span> </div>
                        <h5 class="card-title">Type C cable wth 120mm length and spports fast charging.</h5>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0"> 2387 Reviews <i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                        </ul>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Add To Carts</a> </div>
                    
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img14.jpg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">Type B</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">USb Cable</span>Rs.399<span class="float-end"><a class="text-muted small" href="#"></a></span> </div>
                        <h5 class="card-title">Type B USB cable with 120m length and supports fastcharging.</h5>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0"> 3423 Reviews <i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star-o text-warning"></i></li>
                        </ul>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Add To Carts</a> </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img15.jpg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">Wireless Charger</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">Mi</span>RS.2000 <span class="float-end price-hp"></span> </div>
                        <h5 class="card-title">Mi wireless Charger comes with 30 Watt charging Capability.</h5>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0">10k Reviews <i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star-o text-warning"></i></li>
                        </ul>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Add To Carts</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img16.jpg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">VR Headset</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">Ocalus</span>Rs.1999 <span class="float-end"><a href="#"></a></span> </div>
                        <h5 class="card-title">Ocalus is the best VR headset with earpods supports. </h5>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0">3456 Reviews <i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star-o text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star-o text-warning"></i></li>
                        </ul>
                        <div class="d-grid gap-2 my-4"> <a href="#" class="btn btn-warning">Add To Carts</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img17.jpg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">Slefi Stick</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">Selfi Stick</span>Rs.599 <span class="float-end"><a href="#" class="small text-muted"></a></span> </div>
                        <h5 class="card-title"> Mi selfi stick comes with good standrad quality fit to anyphone. </h5>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0">3456 Reviews <i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star-o text-warning"></i></li>
                        </ul>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Add To Carts</a> </div>
                        
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img18.jpg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">Mi</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">Mobile pouch</span>Rs.299 <span class="float-end"><a class="text-muted small" href="#"></a></span> </div>
                        <h5 class="card-title">The Mobile pouch comes with stand to watch movies .</h5>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0">5678 Reviews <i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                        </ul>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Add To Carts</a> </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
