<main>
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img3.jpg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">Boat</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">Boat Rockers</span> Rs.999<span class="float-end price-hp"></span> </div>
                        <h5 class="card-title">Boatrockers 400 comes with 8 hours playback and with bluetooth connectivity. </h5>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0">2341 Reviews <i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star-o text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star-o text-warning"></i></li>
                        </ul>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Add To Carts</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img4.jpg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">Boat</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">Boat rocker 225</span> <span class="float-end">Rs.1499<a href="#"></a></span> </div>
                        <h5 class="card-title">Boat rockers 225 comes with hight charging capability of 12 hours playback.</h5>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0">7656 Reviews <i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star-o text-warning"></i></li>
                        </ul>
                        <div class="d-grid gap-2 my-4"> <a href="#" class="btn btn-warning">Addt To Carts</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img5.jpg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">Boat</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">Boat311V2</span> <span class="float-end">Rs.1999<a href="#" class="small text-muted"></a></span> </div>
                        <h5 class="card-title">Boat 311v2 comes with 12 hours playback and one charge 4 times .</h5>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0">3454 Reviews <i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star-o text-warning"></i></li>
                        </ul>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Add To Carts</a> </div>
                        
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img6.jpg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">Boat</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">Boat110</span> <span class="float-end">Rs.399<a class="text-muted small" href="#"></a></span> </div>
                        <h5 class="card-title">Boat 110 wired earphones are good extendible with good quality exstensible wire .</h5>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0">3423 Reviews <i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                        </ul>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Add To Carts</a> </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img7.jpg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">JBl</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">JBL</span>Rs.5000 <span class="float-end price-hp"></span> </div>
                        <h5 class="card-title">JBL boombx with best bass and bluetooth availabilty of 12 hours playback</h5>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0">2343 Reviews <i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star-o text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star-o text-warning"></i></li>
                        </ul>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Add To Carts</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img8.jpg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">JBL</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">JBL</span> Rs.699<span class="float-end"><a href="#"></a></span> </div>
                        <h5 class="card-title">JBL c100s wired earphones comes with inbuilt mic</h5>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0">2343 Reviews <i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                        </ul>
                        <div class="d-grid gap-2 my-4"> <a href="#" class="btn btn-warning">Add To Carts</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img10.jpg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">Mi Airpods</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">Mi Airpods</span>Rs.1399 <span class="float-end"><a href="#" class="small text-muted"></a></span> </div>
                        <h5 class="card-title">Mi bluetooth airdods comes with 12 hours playback and 4.0 bluetooth connectivity . </h5>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0">1234 Reviews <i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star-o text-warning"></i></li>
                        </ul>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Add To Carts</a> </div>
                        
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img9.jpg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">Mi</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">Mi Sports</span>Rs.1499 <span class="float-end"><a href="#"></a></span> </div>
                        <h5 class="card-title">Mi sports earphones are sweat proof and also comes with a playback of 14 hours.</h5>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0">3243 Reviews <i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star-o text-warning"></i></li>
                        </ul>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Add To Carts</a> </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>