<main>
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img27.jpg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">T Shirts</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">Levis</span>Rs.399 <span class="float-end price-hp"></span> </div>
                        <h5 class="card-title">Kids T shirts fro 11 to 13 age medium size</h5>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0">1123 Reviews <i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star-o text-warning"></i></li>
                        </ul>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Add To Carts</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img28.jpg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">Jeans</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">Lee</span>Rs.999 <span class="float-end price-hp"></span> </div>
                        <h5 class="card-title">Lee jeans for kids age 12 to 14</h5>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0">2311 Reviews <i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                        </ul>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Add To Carts</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img29.jpg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">Kids shoes</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">Shoes</span> <span class="float-end">Rs.499<a href="#" class="small text-muted"></a></span> </div>
                        <h5 class="card-title">Kids shoes uniware for 12 to 14</h5>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0">3423 Reviews <i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                        </ul>
                         <div class="text-center my-4"> <a href="#" class="btn btn-warning">Add To Carts</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img30.jpg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">Sadles</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">Campus</span> <span class="float-end"> Rs.399<a class="text-muted small" href="#"></a></span> </div>
                        <h5 class="card-title">Campus Sandles for kids for 12 to 14</h5>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0">3454 Reviews <i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                        </ul>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Add To Carts</a> </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img31.jpg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">Froks</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">Froks</span> RS.1500<span class="float-end price-hp"></span> </div>
                        <h5 class="card-title">Girls birthday Frok</h5>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0">3243 Reviews <i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                        </ul>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Add To Carts</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img32.jpg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">Dresses</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">Dress</span>Rs.999 <span class="float-end"><a href="#"></a></span> </div>
                        <h5 class="card-title">Grils Dress for age 13 t 15</h5>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0">1234 Reviews <i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                        </ul>
                        <div class="d-grid gap-2 my-4"> <a href="#" class="btn btn-warning">Add To Carts</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img33.jpg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">Slippers</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">Slippers</span> Rs.199<span class="float-end"><a href="#" ></a></span> </div>
                        <h5 class="card-title"> Slippers for girl for age of 12 to 14 </h5>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0">1123 Reviews <i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                        </ul>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Add To Carts</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img34.jpg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">Shoes</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">Shoes</span>Rs.299<span class="float-end"><a href="#"></a></span> </div>
                        <h5 class="card-title">Design shoes for girls </h5>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0">2235 Reviews <i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star-o text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star-o text-warning"></i></li>
                        </ul>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Add To Carts</a> </div>
                
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


