<main>
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img19.jpg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">Sandisk</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">Sand Disk</span>Rs.999<span class="float-end price-hp"></span> </div>
                        <h5 class="card-title">This sandisk pendrive comes with 32b storage</h5>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0">5897 Reviews <i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                        </ul>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Add To Carts</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img20.jpg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">Sandisk</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">Sand disk</span>Rs.599 <span class="float-end price-hp"></span> </div>
                        <h5 class="card-title">This sanddsik pendrive comes with 64 gb memory and supports type C</h5>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0">9876 Reviews <i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                        </ul>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Add To Carts</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img21.jpg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">Western Digital</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">WD Hard Disk</span>RS.1999<span class="float-end"><a hef="#" class="small text-muted"></a></span> </div>
                        <h5 class="card-title">Western Disgital harddisk comes with 2Tb storage </h5>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0">2349 Reviews <i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star-o text-warning"></i></li>
                        </ul>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Add To Carts</a> </div>
                        
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img22.jpg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">Segate</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">Hard Disk</span> Rs.3999<span class="float-end"><a class="text-muted small" href="#"></a></span> </div>
                        <h5 class="card-title">Segate Hard dsik comes with 2TB storage and 8 layers protection</h5>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0"> 3456 Reviews <i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star-o text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star-o text-warning"></i></li>
                        </ul>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Add To Carts</a> </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img23.jpg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">Mi</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">Mi</span> Rs.2000<span class="float-end price-hp"></span> </div>
                        <h5 class="card-title">Mi PowerBank comes with 20000mah output is 13000mah with 8 layers polymer protection</h5>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0">9876 Reviews <i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star-o text-warning"></i></li>
                        </ul>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Add To Carts</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img24.jpg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">Mi</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">Ambrane</span>Rs.1999 <span class="float-end"><a href="#"></a></span> </div>
                        <h5 class="card-title">Mi PowerBank comes with 10000mah output is 7000mah with 8 layers polymer protection</h5>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0">4567 Reviews <i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star-o text-warning"></i></li>
                        </ul>
                        <div class="d-grid gap-2 my-4"> <a href="#" class="btn btn-warning">Add To Carts</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img26.jpg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">Power Bank</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">Mi</span>RS.799<span class="float-end"><a href="#" class="small text-muted"></a></span> </div>
                        <h5 class="card-title"> Mi 10000mah powerbank comes with 7000mah output and 8 layers polymer protection </h5>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0">2345 Reviews <i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                        </ul>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Add To Carts</a> </div>
                    
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img25.jpg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">Sandisk</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">Sandisk</span>Rs.5999 <span class="float-end"><a class="text-muted small" href="#"></a></span> </div>
                        <h5 class="card-title">Sandisk external storage device </h5>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0">3456 Reviews <i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                        </ul>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Add To Carts</a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

