<main>
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img35.jpg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">Lehenga</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">Lehenga</span> Rs.3999<span class="float-end price-hp"></span> </div>
                        <h5 class="card-title">Lehenga for women medium size</h5>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0">1237 Reviews <i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star-o text-warning"></i></li>
                        </ul>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Add To Carts</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img36.jpg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">Wedding sarees</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class=" float-start badge rounded-pill bg-success">Sarees</span> Rs.2999<span class="float-end price-hp"></span> </div>
                        <h5 class="card-title">Wedding sarees for  women</h5>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0">4567 Reviews <i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                        </ul>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Add To Carts</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img37.jpg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">Punjabis</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">Punjabi</span> Rs.999<span class="float-end"><a href="#" class="small text-muted"></a></span> </div>
                        <h5 class="card-title">Punjabi dress for women</h5>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0">1234 Reviews <i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                        </ul>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Add To Carts</a> </div>
    
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img38.jpg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">Anarkali</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">Anarkali</span>Rs.2999<span class="float-end"><a class="text-muted small" href="#"></a></span> </div>
                        <h5 class="card-title">Anarkali designs for women</h5>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0">4567 Reviews <i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                        </ul>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Add To Carts</a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img39.jpg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">Long Froks</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">LongFroks</span> RS.2000<span class="float-end price-hp"></span> </div>
                        <h5 class="card-title">Long Froks for women</h5>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0"> 2234 Reviews <i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                        </ul>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Add To Carts</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img40.jpg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">Cotton Tops</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">cotton Tops</span> RS.999 <span class="float-end"><a href="#"></a></span> </div>
                        <h5 class="card-title">Cotton tops for wowmen</h5>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0">3454 Reviews <i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star-o text-warning"></i></li>
                        </ul>
                        <div class="d-grid gap-2 my-4"> <a href="#" class="btn btn-warning">Add To Carts</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img41.jpg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">Plazzo</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">plazzo</span> Rs.599 <span class="float-end"><a href="#"></a></span> </div>
                        <h5 class="card-title"> Plazzo for women on cotton </h5>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0">3432 Reviews <i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star-o text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star-o text-warning"></i></li>
                        </ul>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Add To Carts</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/img42.jpg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">Silk sarees</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">Silk Saree</span> Rs.1999<span class="float-end"><a href="#"></a></span> </div>
                        <h5 class="card-title">Silk sarees for women </h5>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0">2236 Reviews <i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                        </ul>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Add To Carts</a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>



